extends layout

block content
    .row
        h4 New fighter
        form(action="", method="post")
            .form-group.row
                label Name
                input.form-control(name="name")
                .form-group.row
                    label Ranking
                    input.form-control(name="ranking")
                    .form-group.row
                        button.btn-primary Add