doctype html
html
  head
    title= 'SFV statistics'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home - SFV statistics
    br
    a(href='/2016') 2016
    br
    a(href='/2017') 2017

    block content
